<div *ngIf="current_user && users">

    <table *ngIf="current_user">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Created</th>
                <th>Approved</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>
                    <a [routerLink]="['/users', user.id]">
                        {{user.username}}
                        <span *ngIf="user.is_an_admin"> (ADMIN)</span>
                    </a></td>
                <td>{{user.email}}</td>
                <td>{{user.created_at | date:'MMMM d, y'}}</td>
                <td> <a (click)="toggleApproval(user)">{{user.is_approved}}</a></td>


            </tr>
        </tbody>
    </table>


</div>