@import '../../../styles/variables';

header {
    background-color: $brand_color;
    margin: 0 0 $padding;




}

nav {

    font-size: $font_size;


    @media(min-width: $mobile_width) {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;

    }


    a {
        display: inline-block;
        color: white;
        padding: 15px 10px;



        @media(min-width: $mobile_width) {
            padding: $padding 10px;

        }

        &:hover {
            background-color: $brand_color_adjust;
        }
    }





    h1,
    ul {
        font-size: 1em;
        flex: 1 auto;
        color: white;
        padding: 0;
        margin: 0;
        text-align: center;

    }

    h1 {
        font-weight: bold;
        letter-spacing: 1px;

        text-transform: uppercase;

        @media(min-width: $mobile_width) {

            text-align: left;
        }

    }


    ul {


        @media(min-width: $mobile_width) {

            text-align: right;
        }

        li {
            font-size: 1em;
            display: inline-block;
            padding: 0;
            margin: 0;
        }


    }
}