@import '../../../styles/variables';


.message_container {
    padding: 0 0 $padding;
    margin: 0 0 $padding;
    border-bottom: 1px solid $light_grey;

    @media(min-width: $mobile_width) {}


}

blockquote {
    font-size: $font_size;
    margin: 0 0 10px;
    line-height: 160%;
}

cite {
    font-size: $font_size;
    ;
}