/* You can add global styles to this file, and also import other style files */


@import 'styles/variables';
@import 'styles/reset';
@import 'styles/typography';


body {
    background: $background_color;
    color: $font_color;
    font-family: $font_stack;
    font-weight: normal;
    font-size: 62.5%;
}



.container {

    margin: auto;
    padding: 0 $padding;

    @media(min-width: 980px) {
        width: 960px;
    }

    @media(min-width: 1200px) {
        width: 1180px;
    }


}



.columns {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 #{$padding * -1} $padding;

    @media(min-width: $mobile_width) {
        margin-bottom: 0;
        flex-wrap: nowrap;

        &.columns_wrap {
            flex-wrap: wrap;
        }
    }


}



.column {
    flex: 1 auto;
    margin: 0 $padding;
    width: 100%;


    &.column_half {
        width: auto;
        max-width: 50%;
        max-width: calc(50% - #{$padding});
    }



    &.column_small {
        @media(min-width: $mobile_width) {
            width: #{100% * 1 / 3};
        }

    }

    &.column_large {
        @media(min-width: $mobile_width) {
            width: #{100% * 2 /3 };
        }
    }

    &.column_right {
        @media(min-width: $mobile_width) {
            text-align: right;
        }
    }
}

// end of column


.meta {
    color: $medium_grey;
    font-style: italic;
}



$spinner_height: 35px;

.spinner {
    border-radius: 50%;
    width: $spinner_height;
    height: $spinner_height;
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border: #{$spinner_height / 10} solid transparentize($brand_color, 0.5);
    border-left: #{$spinner_height / 10} solid $brand_color;
    transform: translateZ(0);
    animation: load8 1.1s infinite linear;

    &.inline {
        display: inline-block;
        margin: 0 7px;
        top: 9px;
    }
}


@keyframes load8 {
    0% {
        transform: rotate(0deg);

    }


    100% {
        transform: rotate(360deg);

    }
}


.pagination {
    li {
        display: inline-block;
        margin: 0;
        padding: 0;

        &.selected {

            a,
            a:hover {
                background-color: $brand_color;
                color: white;
            }

        }


        a {
            cursor: pointer;
            display: inline-block;
            padding: 10px;
            background-color: $light_grey;
            margin: 0 2px 2px;

            border-radius: $border-radius;


            &:hover {
                background-color: darken($light_grey, 10);
            }
        }
    }
}